<% layout('layouts/boilerplate')%>

    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card shadow">
                    <img src="https://365cincinnati.com/wp-content/uploads/2020/05/Camping-at-the-camground-900x525.jpg"
                        alt="" class="card-img-top" />
                    <div class="card-body">
                        <h3 class="card-title">Register</h3>
                        <form action="/register" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" type="email" id="email" name="email" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-success">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>